.btn {
  padding: 0.6rem 1rem;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;

  font-size: 1rem;
  letter-spacing: -0.01rem;
  transition: transform 0.2s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1);
}

.btn:disabled,
.btn:disabled:hover,
.btn:disabled:active {
  cursor: not-allowed;
  opacity: 0.55;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1);
  transform: scale(1);
}
