VITE_SUPABASE_URL=supabase_url
VITE_ANON_KEY=anon_key

VITE_MAPBOX_TOKEN=mapbox_token
VITE_MAPBOX_STYLE=mapbox/streets-v12

VITE_LOCATION_DEFAULT_LATITUDE=45.4593
VITE_LOCATION_DEFAULT_LONGITUDE=10.4865
VITE_LOCATION_DEFAULT_NAME=Lonato del Garda