.listContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.2rem;

  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 1rem;
}
