.date {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  text-transform: uppercase;

  color: var(--text-color-secondary);
  background-color: var(--color-secondary-2);
  padding: 0.7rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);

  font-weight: 600;
  width: 60%;
  margin-top: -1rem;
}

.date div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
