:root {
  --text-color-primary: rgb(0, 20, 40);
  --text-color-secondary: rgb(255, 255, 255);
  --color-primary-1: rgb(255, 255, 255);
  --color-primary-2: rgb(248, 248, 248);
  --color-primary-3: rgb(241, 241, 241);
  --color-secondary-1: rgb(0, 30, 60);
  --color-secondary-2: rgb(0, 55, 110);
  --color-secondary-3: rgb(0, 130, 260);
  --color-accent-1: rgb(0, 230, 180);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-primary: rgb(241, 241, 241);
    --text-color-secondary: rgb(0, 20, 40);
    --color-primary-1: rgb(0, 45, 90);
    --color-primary-2: rgb(0, 35, 70);
    --color-primary-3: rgb(0, 20, 40);
    --color-secondary-2: rgb(0, 230, 180);
    --color-secondary-3: rgb(0, 240, 150);
  }
}

html {
  font-size: 16px;
  background-color: var(--color-primary-3);
}

body {
  color: var(--text-color-primary);
  background-color: var(--color-primary-3);
}

.mainTitle {
  text-align: center;
  margin: 0 auto;
  padding: 1.6rem 0;
  font-size: 2.2rem;
  background-color: var(--color-secondary-2);
  color: var(--text-color-secondary);
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.2);
}
